p {
    font-family: Arial;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
}

h1 {
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}

body {
    font-size: 10px;
}

p {
    font-weight: normal;
    line-height: 2;
    text-align: center;
}

p {
    text-decoration: underline;

}

h1 {
    text-decoration: line-through;
}