p {
    border: 2px solid blue;
    width: 50%;
    /* padding: 10px; */
    padding-left: 40px;
    /* margin: 100px; */
    /* margin-top: 500px; */
    /* margin: 20px 40px 500px 100px; */
    /* margin: auto auto auto auto; */
    margin: 0 auto;
    margin: 50px 20px ;
}
